.Projects-Container {
  display: flex;
  padding: 1em;
  flex-direction: column;
  color: #192a56;
  align-items: center;
}

.cc-project-box {
  border: 1px solid #192a56;
  padding: 1em;
  margin: 1em;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.cc-project-box p {
  margin: 1em;
}

.alt-display {
  align-self: flex-end;
}

.cc-projects {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

img {
  width: 500px;
  height: 250px;
}
