.App-Container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to left bottom,
    #f5f6fa,
    #eff0f4,
    #e8e9ed,
    #e2e3e7,
    #dcdde1
  );
  font-family: 'Antic', sans-serif;
}
