.App-Container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to right bottom,
    #ffbe76,
    #fcb364,
    #f8a952,
    #f49e3f,
    #f0932b
  );
  font-family: 'Antic', sans-serif;
}
